@import url('https://fonts.googleapis.com/css2?family=Anton&family=Yanone+Kaffeesatz:wght@400;600;700&display=swap');


body {
    font-family: "Yanone Kaffeesatz", serif;
    margin: 0;
    color: #333;
}

.promptSteps{
    display: flex;
    justify-content: center;
}

.step{
    height: 25em;
    width: 25em;
    margin-inline: 2em;
    background-color: #fff;
    border: 1px solid #e1e4e8;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-top: 20px;
}

.emotionSelection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.emotionSelection button{
    font-size: 4em;
    margin: 0.1em;
    border: 1px solid #e1e4e8;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.emotionSelection button:nth-child(1) { /* Happy */
    background-color: #FFDFBA; /* Pastel orange */
}

.emotionSelection button:nth-child(2) { /* Sad */
    background-color: #BFDFFF; /* Pastel blue */
}

.emotionSelection button:nth-child(3) { /* Angry */
    background-color: #FFBABA; /* Pastel red */
}

.emotionSelection button:nth-child(4) { /* Surprised */
    background-color: #FFBCF1; /* Pastel pink */
}

.emotionSelection button:nth-child(5) { /* Love */
    background-color: #FFBFD3; /* Pastel light pink */
}

.emotionSelection button:nth-child(6) { /* Funny */
    background-color: #FFE1A8; /* Pastel yellow */
}

.emotionSelection button:nth-child(7) { /* Confused */
    background-color: #D4F1C5; /* Pastel green */
}

.emotionSelection button:nth-child(8) { /* Shocked */
    background-color: #FFB9B9; /* Pastel coral */
}

.emotionSelection button:nth-child(9) { /* Bored */
    background-color: #E0BBE4; /* Pastel lavender */
}



.emotionSelection button.selected {
        background-color: #5e00fd;
    }

.submit{
    font-size: 3em;
    border: 1px solid #e1e4e8;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: "Yanone Kaffeesatz", serif;
    background-color: #28a745;
}

.buttonSubmit{
    display: flex;
    align-items: end;
    justify-content: flex-end;
    margin-right: 4em;
    margin-top: 1em;
    margin-bottom: 1em;
}

label{
    font-size: 3em;
}

h2{
    font-size: 4em;
    font-weight: bold;
    margin: 0;
    padding-bottom: 0.25em;
}