.polaroid img {
	width:98%;
}
.polaroid {
	float: left;
	position: relative;
	min-width: 250px;
	max-width: 350px;
	background-color: #eee  ;
	padding: 10px 10px 15px 10px;
	margin: 5px;
}

.info {
	vertical-align: middle;
	text-align: center;
	margin: 0;
}

.contentResult{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.parentDiv{
	padding-inline: 10em;
}

.buttonDiv{
	display: flex;
	width: 100%;
	justify-content: flex-end;
}

.buttonDiv button{
	margin: 0.25em;
	font-size: 1.5em;
}

p{
	padding-inline: 2em;
}