.polaroid img {
	width:98%;
}

.polaroid {
    float: left;
    position: relative;
    min-width: 250px;
    max-width: 350px;
    background-color: #fff;
    border: 1px solid #e1e4e8;
    padding: 10px 10px 15px 10px;
    margin: 5px;
    transform: rotate(-5deg);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
	margin-bottom: 3em;
	margin-top: 3em;
}

.polaroid:hover {
    transform: rotate(0deg);
}


.info {
	vertical-align: middle;
	text-align: center;
	margin: 0;
}

.contentResult{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.parentDiv{
	padding-inline: 10em;
}

.buttonDiv{
	display: flex;
	width: 100%;
	justify-content: flex-end;
}

.buttonDiv button{
	margin: 0.10em;
    font-size: 1.5em;
    background: transparent;
    border: none;
}

p{
	padding-inline: 2em;
}