<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>APDBOA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>

     <nav class="navbar">
        <div class="logo">
            <a href="/"><img src="../static/images/logo.png" alt="Logo" height="100"></a>
        </div>
        <ul class="nav-links">
            <li><a href="home" class="nav-item active">Prompt ✨</a></li>
            <li><a href="how" class="nav-item">How ? 🤔</a></li>
            <li><a href="ourTeam" class="nav-item">Our Team 🤝</a></li>
        </ul>
     </nav>

     <div class="pageContent">
        <h1>Generate your post description !</h1>
        <img src="../static/images/line.png" alt="line">
    </div>

    <form id="form_upload" action="/predict" method="post" enctype="multipart/form-data">
         <div class="promptSteps">
             <div class="step">
                 <h2>1. Image</h2>
                 <input type="file" name="file" accept="image/*" required>

             </div>
             <div class="step">
                 <h2>2. Audience</h2>
                 <div>
                    <input type="radio" id="famille" name="audience" value="famille">
                    <label for="famille">Family 👨‍👩‍👧‍👦</label><br>

                    <input type="radio" id="amis" name="audience" value="amis">
                    <label for="amis">Friends 🤗</label><br>

                    <input type="radio" id="collegues" name="audience" value="collegues">
                    <label for="collegues">Colleagues 💼</label><br>

                    <input type="radio" id="amoureux" name="audience" value="amoureux">
                    <label for="amoureux">Partner ❤️</label><br>
                </div>
             </div>
             <div class="step">
                 <h2>3. Emotion</h2>

                 <div class="emotionSelection">
                    <button type="button" class="emotion-btn" value="Happy">😊</button>
                    <button type="button" class="emotion-btn" value="Sad">😢</button>
                    <button type="button" class="emotion-btn" value="Angry">😡</button>
                    <button type="button" class="emotion-btn" value="Surprised">😲</button>
                    <button type="button" class="emotion-btn" value="Love">😍</button>
                    <button type="button" class="emotion-btn" value="Laughing">😂</button>
                    <button type="button" class="emotion-btn" value="Confused">😕</button>
                    <button type="button" class="emotion-btn" value="Shocked">😱</button>
                    <button type="button" class="emotion-btn" value="Bored">😴</button>
                </div>

             </div>
         </div>



        <div class="buttonSubmit">
            <button class="submit" type="submit">Predict 👉</button>
        </div>

    </form>

</body>
</html>