<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>APDBOA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>

     <nav class="navbar">
        <div class="logo">
            <a href="/"><img src="../static/images/logo.png" alt="Logo" height="100"></a>
        </div>
        <ul class="nav-links">
            <li><a href="home" class="nav-item active">Prompt ✨</a></li>
            <li><a href="how" class="nav-item">How ? 🤔</a></li>
            <li><a href="ourTeam" class="nav-item">Our Team 🤝</a></li>
        </ul>
     </nav>

     <div class="pageContent">
        <h1>Generate your post description !</h1>
        <img src="../static/images/line.png" alt="line">
    </div>

    <form id="form_upload" action="/predict" method="post" enctype="multipart/form-data">
         <div class="promptSteps">
             <div class="step">
                 <h2>1. Image</h2>
                 <input type="file" name="file" accept="image/*" required>

             </div>
             <div class="step">
                 <h2>2. Audience</h2>
                 <div>
                    <input type="radio" id="famille" name="audience" value="family">
                    <label for="famille">Family 👨‍👩‍👧‍👦</label><br>

                    <input type="radio" id="amis" name="audience" value="friends">
                    <label for="amis">Friends 🤗</label><br>

                    <input type="radio" id="collegues" name="audience" value="colleagues">
                    <label for="collegues">Colleagues 💼</label><br>

                    <input type="radio" id="amoureux" name="audience" value="partner">
                    <label for="amoureux">Partner ❤️</label><br>
                </div>
             </div>
             <div class="step">
                 <h2>3. Emotion</h2>

                 <input type="hidden" id="tone" name="tone" value="">
                 <div class="emotionSelection">
                    <button type="button" class="emotion-btn" value="Happy" onclick="selectEmotion('Happy', this)">😊</button>
                    <button type="button" class="emotion-btn" value="Sad" onclick="selectEmotion('Sad', this)">😢</button>
                    <button type="button" class="emotion-btn" value="Angry" onclick="selectEmotion('Angry', this)">😡</button>
                    <button type="button" class="emotion-btn" value="Surprised" onclick="selectEmotion('Surprised', this)">😲</button>
                    <button type="button" class="emotion-btn" value="Love" onclick="selectEmotion('Love', this)">😍</button>
                    <button type="button" class="emotion-btn" value="Funny" onclick="selectEmotion('Funny', this)">😂</button>
                    <button type="button" class="emotion-btn" value="Confused" onclick="selectEmotion('Confused', this)">😕</button>
                    <button type="button" class="emotion-btn" value="Shocked" onclick="selectEmotion('Shocked', this)">😱</button>
                    <button type="button" class="emotion-btn" value="Bored" onclick="selectEmotion('Bored', this)">😴</button>
                </div>

             </div>
         </div>

        <div class="buttonSubmit">
            <button class="submit" type="submit">Predict 👉</button>
        </div>

    </form>

</body>

    <script>
        function selectEmotion(emotion, btn) {
            document.getElementById('tone').value = emotion;

            const buttons = document.querySelectorAll('.emotionSelection button');
            buttons.forEach(button => button.classList.remove('selected'));

            btn.classList.add('selected');
            console.log(document.getElementById('tone').value)
        }
    </script>

</html>