<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AML - How?</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='how.css') }}">
</head>
<body>

    <nav class="navbar">
        <div class="logo">
            <a href="/"><img src="../static/images/logo.png" alt="Logo" height="100"></a>
        </div>
        <ul class="nav-links">
            <li><a href="home" class="nav-item">Prompt ✨</a></li>
            <li><a href="how" class="nav-item active">How ? 🤔</a></li>
            <li><a href="ourTeam" class="nav-item">Our Team 🤝</a></li>
        </ul>
    </nav>

    <div class="pageContent">
        <h1>How does it works ?</h1>
        <img src="../static/images/line.png" alt="line">
    </div>

    <div class="explaination">
        <img src="../static/images/how.png" alt="how does it work?">
    </div>




    <footer class="footer">
        <h2 class="footer-title">AML</h2>
        <p class="footer-copyright">© 2024 AML Team. All rights reserved.</p>
    </footer>

</body>
</html>