<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
</head>
<body>

    <nav class="navbar">
        <div class="logo">
            <a href="/"><img src="../static/images/logo.png" alt="Logo" height="100"></a>
        </div>
        <ul class="nav-links">
            <li><a href="/" class="nav-item">Home 🏠</a></li>
            <li><a href="home" class="nav-item">Prompt ✨</a></li>
            <li><a href="how" class="nav-item active">How ? 🤔</a></li>
            <li><a href="ourTeam" class="nav-item">Our Team 🤝</a></li>
        </ul>
    </nav>

    <div class="pageContent">
        <h1>How does it works ?</h1>
        <img src="../static/images/line.png" alt="line">
    </div>

</body>
</html>