<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>APDBOA</title>
</head>
<body>

    <h1> Adaptative Post Description Based On Audience</h1>

    <h2> Upload an image </h2>
    <form action="/predict" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*" required>

        <div>
            <input type="radio" id="famille" name="audience" value="famille">
            <label for="famille">Famille</label><br>

            <input type="radio" id="amis" name="audience" value="amis">
            <label for="amis">Amis</label><br>

            <input type="radio" id="collegues" name="audience" value="collegues">
            <label for="collegues">collegues</label><br>
        </div>

        <button type="submit">Predict</button>

    </form>

</body>
</html>